:root {
    --dark-menu-color: rgb(26, 26, 85);
    --dark-menu-text-color: white;
}

body {
    margin: 0;
}

header .contact-menu {
    background-color: rgb(26, 26, 85); ;
    color: white;
    padding: 1rem 1.5rem;
    text-align: right;
}   

header .main-menu {
    color: white;
    fill: white;
    background-color:rgb(2, 84, 85);
     padding: 1rem 1.5rem;
    border-bottom: 1px solid rgb(2, 84, 85);

}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

header .main-menu nav ul{
    list-style: none;
    display: none;
}
img {}

.logo-svg {
    filter: ;
}

main .hero-form .hero{
    width: 100%;
    object-fit: contain;

}

main .hero-form .form-img {
    width: 80vw;
    height: 30vh;
}

main .primary-pitch 
 {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

main .primary-pitch article {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 60%;

}

main .primary-pitch article h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

main .primary-pitch article h2 {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    font-family: 'lucida sans'
}

main .primary-pitch aside {
    width: 90%;
}

main .below-the-fold {
    padding: 2rem;
    background-color: rgb(246, 233, 217);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .below-the-fold h2 {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

main .below-the-fold article {
    width: 60%
}
main .email-cta h1 {
    width: 60%;
}

main .email-cta img {
    width: 100%;
}

footer {
    padding: 2rem;
    background-color: var(--dark-menu-color);
    color: var(--dark-menu-text-color);
    display: flex;
    flex-direction: column;
}

footer img {
    width: 20%;

}

.logo-svg {
    filter: ;
}

footer .contact {

}

footer .bottom-nav ul {
    list-style: none;
    padding-left: 0;
}

@media (min-width:600px) {
    main .hero-form .form{
        display: block;
    }
}